div.headlines {
  width: 100%;
  > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    > li {
      width: 100%;
      border-radius: 12px;
      padding: 12px;
      cursor: pointer;
      > h2 {
        font-size: 2rem;
        font-weight: 900;
      }
      > h3 {
        font-size: 1rem;
      }
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      grid-gap: 12px;

      > div {
        margin-bottom: 12px;
      }
    }
  }
}
