.view {
  > h2 {
    font-size: 1.5rem;
    color: grey;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    font-weight: 700;
  }
}
.charts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;

    > div {
      margin-bottom: 12px;
    }
  }
}
